.conteiner{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: "Open Sans";
}
.produto{
  display: flex;
}
.menu{
  display: flex;
}
.tit{
  font-weight: bold;
  margin-left: 50px;
  margin-top: 50px;
  font-size: 23px;
}