body{
    font-family: "Open Sans";
}
.site{
    border-radius: 5px;
    background-color: #90e0ef;
    border: 5px solid rgba(128, 128, 128, 0.525);
    width: 1180px;
    height: 280px;
    padding: 5px;
    margin: 20px 0 0 65px;
}
.foto-perfil{
    width: 240px;
    height: 200px;
}
.nome{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}
.preco{
    font-weight: lighter;
    margin-top: 8px;
}

.tit{
    text-align: center;
    color: yellow;
    background-color: black;
    width: 400px;
    border-radius: 20px;
}
.conteiner{
    background-color: #145da0;
}
.paginas{
    margin-left: 0px;
}
.produto{
    flex-direction: column;
}
.bot{
    margin-top: 3px;
    margin-left: 167px;
}